@import url("index.less");

.store-container {
    .header {
        background-color: aquamarine;
        height: 40px;
        font-size: large;
        .flex-centered;
        border-bottom: 2px black solid;
    }

    .body {
        .actions {
            display: flex;
            width: 700px;
            justify-content: space-between;
            margin: 20px 0;

            button.add {
                height: 29px;
                margin-top: 19px;
            }

            .search-products {
                margin-top: 19px;

                .maginifying-glass {
                    position: absolute;
                    margin-left: 7px;
                }

                input.input-search-products {
                    padding: 5px 0 5px 30px;
                }
            }

            .sort-by {
                display: flex;
                width: 250px;
                margin-top: 19px;

                .sort-by-header {
                    text-align: center;
                    padding-bottom: 2px;
                    width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .sort-by-wrapper {

                    .header-wraepper {
                        display: flex;
                        border: 1px solid black;
                        padding: 5px 10px;
                        width: 140px;
                        justify-content: space-around;
                        cursor: pointer;
                    }

                    .options {
                        padding: 10px 0 0 12px;
                        position: absolute;

                        .option-item {
                            border: 1px solid;
                            padding: 10px 0 7px 12px;
                            margin-left: -12px;
                            width: 148px;
                            margin-top: -10px;
                        }
                    }
                }
            }
        }

        .products {
            display: flex;

            .item-description {
                margin: 20px 0px 0px 50px;
                width: 300px;
                height: 550px;
                border: 2px solid black;
            }

            .list {
                height: 580px;
                min-width: 404px;
                overflow: hidden;
            }
        }
    }

}